<router-outlet></router-outlet>
<div class="backgroundRegister">
  <div class="containerRegister">
    <form class="formRegister" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <b>Register your account</b>
      <div class="formGroupRow">
        <label for="userName">Username</label>
        <input id="userName" formControlName="userName" [ngClass]="{'invalid': isInvalid('userName')}" placeholder="Username is required..."/>
      </div>
      <div class="formGroupRow">
        <label for="email">Email</label>
        <input id="email" formControlName="email" [ngClass]="{'invalid': isInvalid('email')}" placeholder="Example of email: bob@gmail.com"/>
      </div>
      <div class="formGroupRow">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" [ngClass]="{'invalid': isInvalid('password')}" placeholder="Minimum 6 characters..."/>
      </div>
      <div class="formGroupRow">
        <label for="confirmPassword">Confirm password</label>
        <input #confirmPasswordInput id="confirmPassword" type="password" (input)="assignValue(confirmPasswordInput.value)" placeholder="I'll make the validation look better later :p"/>
      </div>
      <div class="formGroupRow">
        <label for="consent">Consent</label>
        <div class="checkboxContainer">
          <input id="consent" type="checkbox" style="width: 20px;"/> I agree to the WyrdCodex Terms and Conditions and Privacy Policy.
        </div>
      </div>
      <div class="formGroupRow">
        <label for="newsletter">Newsletter</label>
        <div class="checkboxContainer">
          <input id="newsletter" type="checkbox" style="width: 20px;"/> I want to receive your monthly newsletter via email.
        </div>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>
