.backgroundRegister{
  background-image: linear-gradient(rgb(79,152,16) 0%, rgb(37,71,7) 75%, rgb(26,50,5) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerRegister{
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 15px;
  width: 50%;
  height: 60%;
}

.formRegister{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.formRegister b{
  margin: 2% 0 3% 0;
  font-size: 25px;
}

.formGroupRow{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
  width: 90%;
  height: 10%;
}

.formGroupRow label{
  margin-right: 10px;
  margin-top: 5px;
}

.formGroupRow input{
  height: 30px;
  width: 70%;
  font-size: 20px;
}

.checkboxContainer{
  width: 71.5%;
  height: 30px;
  display: flex;
  align-items: center;
}

.formRegister button{
  width: 130px;
  height: 30px;
}

.rowName{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
  width: 90%;
  height: 10%;
}

.rowName input{
  height: 30px;
  width: 30%;
  font-size: 20px;
}

.invalid {
  border: 2px solid red;
}

